.page{
}

.page__content{
  background-color: f3f3f3;
    margin: 0 auto;
    padding: 1rem;
}

.cards{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}
body {
  margin: 0;
  font-family: sans-serif;
}

.test-box {
  background: steelblue;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

/* Tablet */
@media (max-width: 768px) {
  .test-box {
    background: orange;
    font-size: 1.2rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .test-box {
    background: crimson;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px){
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px){
  .cards{
    grid-template-columns: 1fr;
  }
}
