.shop{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.shop__content{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}
.shop__main{
  display:flex;
  justify-content: center;
  align-items: center;
}


.shop__type-button{
    display: flex;
    width: 100px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.shop__surface{
    width: 100%;
    height: 100%;
}

.shop__cards{
    display: flex;
    flex-wrap: wrap;
}

.shop__container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}